{% extends  "index.html" %}
{% block titre %}
Connection
{% endblock %}
{% block menus %}
<div class="baremenu">
<div class="logo"></div>
<div class="menu"><a href="/inscription">S'inscrire</a></div>
<div class="menu"><a href="">Table des Matieres</a></div>
<div class="menu"><a href="/accueil">Accueil</a></div>
{% endblock %}
</div>
{% block contenu %}
<h2>Connectez-vous</h2>
{%  if error %}
<p><strong >Utilisateur inexistant ou mauvais  mot de passe incorrect</strong></p>
{% endif %}
{% if user.is_authentificated %}
Vous etes connectes {{user.username}}
{% else %}
<form method="post" action=".">{% csrf_token %}
{{form_connection.as_p}}
<div style="clear:left;margin-left:200px;">
	<input type="submit" value="connexion" />
</div>
</form>
{% endif %}
<h2>Le Bureau de Conseils et d'Assistance aux Entreprises</h2>
<img src="/static/img/img-bca.jpg" width="1020" height="200" />
{% endblock %}