<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- A surcharger --> 
<head>
{% block  entete %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{% block titre %}BCA PME  {% endblock %} </title>
<link href="/static/css/site.css" rel="stylesheet" type="text/css" media="all" />
{% endblock %}
</head>

<body>
<div class="barre-bleu">

<div class="barrebleu">

<div class="contenu-barrebleu">BCA - LE PORTAIL JURIDIQUE DES PROFESSIONNELS</div>
<div class="letter-barrebleu">contact@bca-pme.net</div>

<div class="admin-icon"></div>
<div class="recherche-barrebleu">RECHERCHE</div>
<div class="iconsoocial-twitter"></div>
<div class="iconsoocial-facebook"></div>

</div>

</div>
<!-- A surcharger --> 
<div class="fond-menu">
{% block menu %}
<div class="baremenu">
{% block menus %}
<div class="logo"></div>
<div class="menu"><a href="/inscription">S'inscrire</a></div>
<div class="menu"><a href="/connection">Se connecter</a></div>
<div class="menu"><a href="">Table des Matieres</a></div>
<div class="menu"><a href="/inscription">S'abonner aux news Letters</a></div>
<div class="menu"><a href="/accueil">Accueil</a></div>
{% endblock %}
</div>
{% endblock %}
</div>
<!-- A surcharger--> 
<div class="contenu"  align="justify">
{% block  contenu %}
<img src="/static/img/img-bca.jpg" width="1020" height="200" />
<h1>Bienvenue sur BCA PME </h1>
<h2>Bureau de Conseils et d'Assistance aux Entreprises</h2>
<p>Dans le tissu économique, l’entreprise est le moteur du développement. C’est principalement l’entreprise qui crée les richesses et qui contribue à la valeur ajoutée, aux revenus et à l’emploi. Les PME sont des acteurs économiques majeurs dans tous les pays. Cependant, malgré des actions multiples en leur faveur pour impulser une dynamique plus soutenue, elles continuent de souffrir de nombre de handicaps dont le manque de formation et d’information. Or, Dans un monde de plus en plus mouvant, l’information est cruciale ; elle est à la fois le carburant et le GPS de l’entreprise Aujourd’hui, de nombreux candidats à la création d’entreprise veulent mettre en place leurs projets; d’autres chefs d’entreprises luttent pour la survie de leurs entreprises. La plupart ne savent pas comment s’y prendre. </p><br />
  <p>BCA - PME compte apporter sa contribution à l’objectif d’assurer le développement et la pérennisation des entreprises existantes ; il se veut aussi un partenaire efficace devant accompagner les porteurs de projets. Il entend répondre aux nouveaux besoins suscités par les effets du contexte économique mondial qui ne cesse de se renouveler, en proposant des solutions adaptées, tant juridiques que fiscales, en mettant à la disposition des entreprises des informations, en temps réel, et des conseils appropriés à leurs besoins sur les différentes situations auxquelles elles sont confrontées.</p>
{% endblock %}
</div>
<!-- A surcharger--> 
<div class="bigbarrebleu">
	{% block  bigbarrebleu %}
<div class="big-barrebleu">
{% block  big-barrebleu %}
<h3></h3>
<h4></h4>
{% endblock %}
</div>
{% endblock %}
</div> 
<div class="barrefooter">
<div class="barre-footer">
&copy; Copyright 2014 BCA-PME
</div>
</div>
</body>
</html>
