{% extends  "index.html" %}
{% block titre %}
Inscription
{% endblock %}
{% block menus %}
<div class="baremenu">
<div class="logo"></div>
<div class="menu"><a href="/connection">Se connecter</a></div>
<div class="menu"><a href="">Table des Matieres</a></div>
<div class="menu"><a href="">S'abonner aux news Letters</a></div>
<div class="menu"><a href="/accueil">Accueil</a></div>
{% endblock %}
</div>
{% block contenu %}
<h2>Remplir le formulaire d'inscription</h2>
<form method="post" action=".">{% csrf_token %}
<dl>
	<dt>{{form_inscription.societe.label_tag}}</dt>
	<dd>{{form_inscription.societe}}</dd>
	<dd>{{form_inscription.societe.errors}}</dd>
</dl>
<dl>
	<dt>{{form_inscription.username.label_tag}}</dt>
	<dd>{{form_inscription.username}}</dd>
	<dd>{{form_inscription.username.errors}}</dd>
</dl>
<dl>
	<dt>{{form_inscription.email.label_tag}}</dt>
	<dd>{{form_inscription.email}}</dd>
	<dd>{{form_inscription.email.errors}}</dd>
</dl>
<dl>
	<dt>{{form_inscription.password.label_tag}}</dt>
	<dd>{{form_inscription.password}}</dd>
	<dd>{{form_inscription.password.errors}}</dd>
</dl>
<dl>
<dl>
	<dt>{{form_inscription.confirmer.label_tag}}</dt>
	<dd>{{form_inscription.confirmer}}</dd>
	<dd>{{form_inscription.confirmer.errors}}</dd>
</dl>
<dl>
	<dt>{{form_inscription.capital.label_tag}}</dt>
	<dd>{{form_inscription.capital}}</dd>
	<dd>{{form_inscription.capital.errors}}</dd>
</dl>
<dl>
	<dt>{{form_inscription.chiffre.label_tag}}</dt>
	<dd>{{form_inscription.chiffre}}</dd>
	<dd>{{form_inscription.chiffre.errors}}</dd>
</dl>
<dl>
	<dt>{{form_inscription.adresse.label_tag}}</dt>
	<dd>{{form_inscription.adresse}}</dd>
	<dd>{{form_inscription.adresse.errors}}</dd>
</dl>
<dl>
	<dt>{{form_inscription.secteur.label_tag}}</dt>
	<dd>{{form_inscription.secteur}}</dd>
	<dd>{{form_inscription.secteur.errors}}</dd>
</dl>
<div style="clear:left;margin-left:200px;">
	<input type="submit" value="s'inscrire" />
</div>
</form>
{% endblock %}