{% extends  "index.html" %}
{% block titre %}
Client
{% endblock %}
{% block menus %}
<div class="baremenu">
<div class="logo"></div>
<div class="menu"><a href="/deconnexion">Deconnexion</a></div>
<div class="menu"><a href="/accueil">Accueil</a></div>
{% endblock %}
{% block contenu %}
<p>Vous etes connectes {{user.username}}</p>
<h1>Bienvenue sur BCA PME </h1>
<h2>Bureau de Conseils et d'Assistance aux Entreprises</h2>
<p>Dans le tissu économique, l’entreprise est le moteur du développement. C’est principalement l’entreprise qui crée les richesses et qui contribue à la valeur ajoutée, aux revenus et à l’emploi. Les PME sont des acteurs économiques majeurs dans tous les pays. Cependant, malgré des actions multiples en leur faveur pour impulser une dynamique plus soutenue, elles continuent de souffrir de nombre de handicaps dont le manque de formation et d’information. Or, Dans un monde de plus en plus mouvant, l’information est cruciale ; elle est à la fois le carburant et le GPS de l’entreprise Aujourd’hui, de nombreux candidats à la création d’entreprise veulent mettre en place leurs projets; d’autres chefs d’entreprises luttent pour la survie de leurs entreprises. La plupart ne savent pas comment s’y prendre. </p><br />
  <p>BCA - PME compte apporter sa contribution à l’objectif d’assurer le développement et la pérennisation des entreprises existantes ; il se veut aussi un partenaire efficace devant accompagner les porteurs de projets. Il entend répondre aux nouveaux besoins suscités par les effets du contexte économique mondial qui ne cesse de se renouveler, en proposant des solutions adaptées, tant juridiques que fiscales, en mettant à la disposition des entreprises des informations, en temps réel, et des conseils appropriés à leurs besoins sur les différentes situations auxquelles elles sont confrontées.</p>
{% endblock %}