{% extends  "index.html" %}
{% block titre %}
Creation de lettre d'information
{% endblock %}
{% block menus %}
<div class="logo"></div>
<div class="menu"><a href="/deconnexion">Deconnexion</a></div>
<div class="menu"><a href="">liste des lettres</a></div>
<div class="menu"><a href="">Societes abonnees aux lettres</a></div>
{% endblock %}
{% block  contenu %}
<img src="/static/img/img-bca.jpg" width="1020" height="200" />
<h2>Creation de lettres d'informations</h2>
{% if sauvegarde %}
<p>la lettre a ete enregistree.</p>
{% endif %}
<p>
<form method="post" enctype="multipart/form-data" action=".">{% csrf_token %}
<dl>
	<dt>{{form.montant_lettre.label_tag}}</dt>
	<dd>{{form.montant_lettre}}</dd>
	<dd>{{form.montant_lettre.errors}}</dd>
</dl>
<dl>
	<dt>{{form.numero.label_tag}}</dt>
	<dd>{{form.numero}}</dd>
	<dd>{{form.numero.errors}}</dd>
</dl>
<dl>
	<dt>{{form.fichier.label_tag}}</dt>
	<dd>{{form.fichier}}</dd>
	<dd>{{form.fichier.errors}}</dd>
</dl>
<dl>
	<dt>{{form.themes.label_tag}}</dt>
	<dd>{{form.themes}}</dd>
	<dd>{{form.themes.errors}}</dd>
</dl>
<input type="submit" value="publier" />
</form>
</p>
{% endblock %}

