@charset "UTF-8";
/* CSS Document */

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(../font/lato300.woff) format('woff');/* url(../font/lato300.woff) format('woff')*/
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../font/lato400.woff) format('woff');
}

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	color:#949ba1;
	font-size:14px;
	font-family: 'Lato', sans-serif;
	font-weight:300;
}

img {border: none;}
p { margin :0; }
a { outline:0;
text-decoration:none; }

.barre-bleu{
	height:41px;
	border-bottom:1px solid #34a9da;
	background-color:#3fb5e7;
	width:100%;
	}
	
.barrebleu{
	width:1020px;
	height:41px;
	margin-left:auto;
	margin-right:auto;
	}

.contenu-barrebleu{
	font-family:Helvetica, Arial, sans-serif;
	font-size:11px;
	color:#FFF;
	line-height:41px;
	padding-left:15px;
	padding-right:15px;
	border-left:1px solid #63c1e9;
	border-right:1px solid #63c1e9;
	width:auto;
	height:41px;
	float:left;
	}

.letter-barrebleu{
	font-family:Helvetica, Arial, sans-serif;
	font-size:11px;
	color:#FFF;
	background-image:url(../img/letter.png);
	background-repeat:no-repeat;
	background-position:top left;
	line-height:41px;
	padding-left:40px;
	padding-right:15px;
	border-right:1px solid #63c1e9;
	width:auto;
	height:41px;
	float:left;
	}
.admin-icon{
	height:41px;
	width:64px;
	cursor:pointer;
	background-image:url(../img/admin-icon-act.png);
	background-repeat:no-repeat;
	background-position:top center;
	border-right:1px solid #63c1e9;
	border-left:1px solid #63c1e9;
	float:right;
	}
.admin-icon:hover{ background-image:url(../img/admin-icon.png);}
	
.fond-menu{
	height:115px;
	width:100%;
	background-image:url(../img/fond-menu-blanc.png);
	background-repeat:repeat-x;
	}
.iconsoocial-facebook{
	background-position:-378px 0;
	border-left:1px solid #63c1e9;
	background-image:url(../img/sprite.png);
	background-repeat:no-repeat;
	float:right;
	width:41px;
	height:41px;
	cursor:pointer;
	}
.iconsoocial-facebook:hover{
	background-position:-412px 0;
	}

.iconsoocial-twitter{
	background-position:-380px -56px;
	border-left:1px solid #63c1e9;
	background-image:url(../img/sprite.png);
	background-repeat:no-repeat;
	float:right;
	width:41px;
	height:41px;
	cursor:pointer;
	}
.iconsoocial-twitter:hover{
	background-position:-413px -56px;
	}
	
.iconsoocial-rss{
	background-position:-711px -56px;
	border-left:1px solid #63c1e9;
	background-image:url(../img/sprite.png);
	background-repeat:no-repeat;
	float:right;
	width:41px;
	height:41px;
	cursor:pointer;
	}
.iconsoocial-rss:hover{
	background-position:-711px -56px;
	}
	
.recherche-barrebleu{
	font-family:Helvetica, Arial, sans-serif;
	font-weight:normal;
	font-size:11px;
	color:#ccebf9;
	line-height:43px;
	padding-left:15px;
	padding-right:25px;
	background-image:url(../img/recherche.png);
	background-repeat:no-repeat;
	background-position:right 5px;
	border-left:1px solid #63c1e9;
	width:auto;
	height:41px;
	float:right;
	cursor:pointer;
	}

.recherche-barrebleu:hover{ color:#FFF; background-image:url(../img/recherche-act.png);}

.baremenu{
	height:115px;
	width:1020px;
	margin-left:auto;
	margin-right:auto;
	}
	
.menu{
	font-family: 'Lato', sans-serif;
	font-size:13px;
	font-weight:400;
	height:115px;
	width:auto;
	line-height:115px;
	margin-left:15px;
	margin-right:15px;
	float:right;
	color:#949ba1;
	cursor:pointer;
	text-transform:uppercase;
	}
.menu:hover{
	color:#26ace4;
	height:109px;
	border-bottom:6px solid #26ace4;
	}
.menu:active{
	color:#26ace4;
	height:109px;
	border-bottom:6px solid #26ace4;
	}
	
.logo{
	background-image:url(../img/logo-bca-pme.png);
	background-repeat:no-repeat;
	height:115px;
	width:219px;
	float:left;
	}
	
h1{
	font-family: 'Lato', sans-serif;
	font-size:24px;
	font-weight: bold;
	color:#484d51;
	margin-bottom:0;
	}

h2{
	font-family: 'Lato', sans-serif;
	font-size:18px;
	font-weight: normal;
	color:#26ace4;
	margin-top:0;
	}

h3{
	font-family: 'Lato', sans-serif;
	font-size:22px;
	font-weight: bold;
	color:#fff;
	margin-bottom:0;
	}

h4{
	font-family: 'Lato', sans-serif;
	font-size:14px;
	font-weight: 300;
	color:#fff;
	margin-top:5px;
	}

.contenu{
	width:1020px;
	height:auto;
	margin-bottom:15px;
	margin-top:15px;
	margin-left:auto;
	margin-right:auto;
	
	}
.bigbarrebleu{
	background-color:#47b9e8;
	width:100%;
	padding-bottom:20px;
	padding-top:20px;
	height:auto;
	margin-bottom:15px;
	}

.big-barrebleu{
	width:1020px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	}
	
.barrefooter{
	width:100%;
	height:60px;
	background-color:#484d51;
	}
	
.barre-footer{
	width:1020px;
	height:auto;
	padding-bottom:10px;
	padding-top:10px;
	margin-left:auto;
	margin-right:auto;
	color:#FFF;
	font-size:12px;
	}
input{
	display: block;
}